@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	var selection = Model.Content.Site().FirstChild("newsArea").Children("newsItem")
						.Where(x => x.IsVisible())
						.OrderBy("CreateDate desc");
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
			<p>@item.GetPropertyValue("summary")
			<br>@item.CreateDate.ToLongDateString()</p>
			
		</li>
	}
</ul>

