@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="col-md-9">
    <div class="page-header">
        <h1>@Umbraco.Field("pageName")</h1>
    </div>
    <h3>@Umbraco.Field("pageName")</h3>
    @Umbraco.Field("bodyText")
</div>